<?xml version="1.0" encoding="utf-8"?> <Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">   <PropertyGroup>     <WebPublishMethod>MSDeploy</WebPublishMethod>     <SiteUrlToLaunchAfterPublish>http://fixittest1.azurewebsites.net</SiteUrlToLaunchAfterPublish>     <ExcludeApp_Data>False</ExcludeApp_Data>     <MSDeployServiceURL>fixittest1.scm.azurewebsites.net:443</MSDeployServiceURL>     <DeployIisAppPath>fixittest1</DeployIisAppPath>     <RemoteSitePhysicalPath />     <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>     <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>     <EnableMSDeployBackup>True</EnableMSDeployBackup>     <UserName>$fixittest1</UserName>     <PublishDatabaseSettings>     </PublishDatabaseSettings>   </PropertyGroup> </Project>
